# Dependencies
node_modules/

# Build output
dist/
.vite/

# Environment
.env
.env*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
.project
.classpath
.settings/
*.launch

# System files
.DS_Store
Thumbs.db
